*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #363636;
}

.container{
    width: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
}

.social .link:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.social .link.google-plus {
    background: url(https://i.imgur.com/AcYwKjg.png) center center no-repeat;
    background-color: tomato;
}

.social .link.linkedin {
    background: url(https://i.imgur.com/EDagl4Y.png) center center no-repeat;
    background-color: #0077B5;
}

.social .link.facebook {
    background: url(https://i.imgur.com/FhNFDMr.png) center center no-repeat;
    background-color: #3B5998;
}
.social .link.instagaram {
    background: url(https://i.imgur.com/v7C1LKk.png) center center no-repeat;
    background-color: #444444;
}
.social .link.twitter {
    background: url(https://i.imgur.com/zTMKy7Y.png) center center no-repeat;
    background-color: #00ACEE;
}

.followtext{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    cursor: pointer;
    border: 1px solid black;
    border-left: 2px solid white;
    padding: 8px;
    word-wrap: break-word;
    float: left;
    width: 90px;
    font-size: 13px;
    height: 52px;
    text-align: center;
}

.followtext a{
    color: white;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.followtext:hover{
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); 
    background: -moz-linear-gradient(to right, #414345, #232526);
}

.followpane{
    position: absolute;
    right: 0;
    z-index: 200;
    transition: 1s;
    margin-top: 30px;
    width: 90px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.social{
    width: 379px;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    background: -webkit-linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
    background: linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
    background: -moz-linear-gradient(to right, rgba(67,67,67,0.5), rgba(30,30,30,0.7));
}

#social-container{
    position: absolute;
    margin-left: 90px;
    overflow: hidden;
    width: 0px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -webkit-filter: drop-shadow(0px 0px 8px black);
}

#socialclosebtn{
    position: absolute;
    top: 0px;
    cursor: pointer;
    text-decoration: none;
    width: 30px;
    height: 30px;
    font-size: 2em;
    margin-left: 40px;
    color: white;
}

@media screen and (max-width:450px){
    .followpane{
        width: 70px;
        margin-top: 20px;
    }
    .followtext{
        width: 70px;
        font-size: .8em;
        height: 46px;
    }
    .followtext a{
        letter-spacing: 0.2px;
    }
    #social-container{
        margin-left: 70px;
    }
}